In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('stats_pl.csv')

goals

In [5]:
df['goals']

0      83.0
1      64.0
2      57.0
3      63.0
4      57.0
       ...
235    28.0
236    28.0
237    37.0
238    35.0
239    31.0
Name: goals, Length: 240, dtype: float64

In [6]:
df.head()

,team,wins,losses,goals,total_yel_card,total_red_card,total_scoring_att,ontarget_scoring_att,hit_woodwork,att_hd_goal,...,total_cross,corner_taken,touches,big_chance_missed,clearance_off_line,dispossessed,penalty_save,total_high_claim,punches,season
0,Manchester United,28.0,5.0,83.0,60.0,1.0,698.0,256.0,21.0,12.0,...,918.0,258.0,25686.0,NaN,1.0,NaN,2.0,37.0,25.0,2006-2007
1,Chelsea,24.0,3.0,64.0,62.0,4.0,636.0,216.0,14.0,16.0,...,897.0,231.0,24010.0,NaN,2.0,NaN,1.0,74.0,22.0,2006-2007
2,Liverpool,20.0,10.0,57.0,44.0,0.0,668.0,214.0,15.0,8.0,...,1107.0,282.0,24150.0,NaN,1.0,NaN,0.0,51.0,27.0,2006-2007
3,Arsenal,19.0,8.0,63.0,59.0,3.0,638.0,226.0,19.0,10.0,...,873.0,278.0,25592.0,NaN,1.0,NaN,0.0,88.0,27.0,2006-2007
4,Tottenham Hotspur,17.0,12.0,57.0,48.0,3.0,520.0,184.0,6.0,5.0,...,796.0,181.0,22200.0,NaN,2.0,NaN,0.0,51.0,24.0,2006-2007

In [25]:
df[df['season'] == '2007-2008']

,team,wins,losses,goals,total_yel_card,total_red_card,total_scoring_att,ontarget_scoring_att,hit_woodwork,att_hd_goal,...,total_cross,corner_taken,touches,big_chance_missed,clearance_off_line,dispossessed,penalty_save,total_high_claim,punches,season
20,Manchester United,27.0,5.0,80.0,51.0,2.0,696.0,260.0,16.0,12.0,...,936.0,261.0,26620.0,NaN,10.0,627.0,0.0,47.0,23.0,2007-2008
21,Chelsea,25.0,3.0,65.0,63.0,5.0,605.0,199.0,12.0,10.0,...,945.0,253.0,26290.0,NaN,8.0,687.0,0.0,62.0,19.0,2007-2008
22,Arsenal,24.0,3.0,74.0,55.0,3.0,627.0,208.0,13.0,14.0,...,888.0,234.0,28156.0,NaN,2.0,776.0,1.0,45.0,26.0,2007-2008
23,Liverpool,21.0,4.0,67.0,45.0,1.0,686.0,214.0,13.0,7.0,...,932.0,237.0,25857.0,NaN,4.0,613.0,1.0,42.0,22.0,2007-2008
24,Everton,19.0,11.0,55.0,40.0,3.0,474.0,169.0,4.0,13.0,...,877.0,198.0,21360.0,NaN,8.0,620.0,0.0,55.0,20.0,2007-2008
25,Aston Villa,16.0,10.0,71.0,54.0,4.0,511.0,182.0,11.0,16.0,...,932.0,229.0,20734.0,NaN,6.0,655.0,2.0,40.0,14.0,2007-2008
26,Portsmouth,16.0,13.0,48.0,55.0,3.0,559.0,160.0,9.0,4.0,...,663.0,184.0,21907.0,NaN,4.0,683.0,2.0,77.0,28.0,2007-2008
27,Blackburn Rovers,15.0,10.0,50.0,72.0,6.0,530.0,185.0,14.0,11.0,...,883.0,196.0,22599.0,NaN,5.0,532.0,2.0,59.0,27.0,2007-2008
28,Manchester City,15.0,13.0,45.0,50.0,4.0,423.0,143.0,5.0,5.0,...,695.0,156.0,23416.0,NaN,7.0,559.0,2.0,45.0,43.0,2007-2008
29,West Ham United,13.0,15.0,42.0,63.0,1.0,500.0,154.0,15.0,7.0,...,910.0,207.0,22347.0,NaN,8.0,511.0,3.0,77.0,19.0,2007-2008
30,Newcastle United,11.0,17.0,45.0,63.0,1.0,481.0,153.0,10.0,10.0,...,966.0,209.0,22761.0,NaN,8.0,717.0,0.0,35.0,20.0,2007-2008
31,Sunderland,11.0,21.0,36.0,65.0,4.0,483.0,137.0,7.0,10.0,...,889.0,183.0,21415.0,NaN,5.0,586.0,0.0,40.0,25.0,2007-2008
32,Tottenham Hotspur,11.0,14.0,66.0,51.0,1.0,555.0,195.0,19.0,12.0,...,994.0,238.0,24679.0,NaN,6.0,612.0,0.0,46.0,21.0,2007-2008
33,Middlesbrough,10.0,16.0,43.0,86.0,2.0,499.0,152.0,13.0,9.0,...,960.0,219.0,21064.0,NaN,2.0,575.0,0.0,68.0,38.0,2007-2008
34,Reading,10.0,22.0,41.0,59.0,5.0,441.0,132.0,10.0,12.0,...,1087.0,238.0,19140.0,NaN,6.0,532.0,2.0,61.0,28.0,2007-2008
35,Wigan Athletic,10.0,18.0,34.0,59.0,4.0,489.0,141.0,11.0,6.0,...,767.0,186.0,19855.0,NaN,7.0,510.0,1.0,68.0,14.0,2007-2008
36,Bolton Wanderers,9.0,19.0,36.0,76.0,0.0,451.0,149.0,14.0,5.0,...,905.0,208.0,20846.0,NaN,6.0,545.0,0.0,47.0,20.0,2007-2008
37,Birmingham City,8.0,19.0,46.0,70.0,3.0,414.0,143.0,6.0,6.0,...,774.0,193.0,19541.0,NaN,6.0,551.0,0.0,77.0,11.0,2007-2008
38,Fulham,8.0,18.0,38.0,55.0,6.0,469.0,154.0,7.0,7.0,...,849.0,183.0,21259.0,NaN,4.0,589.0,0.0,55.0,27.0,2007-2008
39,Derby County,1.0,29.0,20.0,63.0,1.0,376.0,116.0,7.0,3.0,...,804.0,158.0,20140.0,NaN,5.0,464.0,0.0,68.0,24.0,2007-2008

In [54]:
seasons = df['season'].unique()

In [55]:
lista = [df[df['season'] == season]['goals'].sort_values(ascending=False).index[0] for season in seasons]

In [56]:
df.loc[lista]

,team,wins,losses,goals,total_yel_card,total_red_card,total_scoring_att,ontarget_scoring_att,hit_woodwork,att_hd_goal,...,total_cross,corner_taken,touches,big_chance_missed,clearance_off_line,dispossessed,penalty_save,total_high_claim,punches,season
0,Manchester United,28.0,5.0,83.0,60.0,1.0,698.0,256.0,21.0,12.0,...,918.0,258.0,25686.0,NaN,1.0,NaN,2.0,37.0,25.0,2006-2007
20,Manchester United,27.0,5.0,80.0,51.0,2.0,696.0,260.0,16.0,12.0,...,936.0,261.0,26620.0,NaN,10.0,627.0,0.0,47.0,23.0,2007-2008
42,Liverpool,25.0,2.0,77.0,50.0,0.0,736.0,224.0,26.0,14.0,...,1021.0,269.0,29875.0,NaN,0.0,470.0,0.0,61.0,19.0,2008-2009
60,Chelsea,27.0,6.0,103.0,54.0,5.0,834.0,288.0,13.0,16.0,...,1083.0,286.0,28914.0,NaN,3.0,503.0,1.0,87.0,30.0,2009-2010
80,Manchester United,23.0,4.0,78.0,56.0,3.0,618.0,212.0,15.0,18.0,...,1005.0,243.0,26671.0,50.0,2.0,471.0,0.0,45.0,16.0,2010-2011
100,Manchester City,28.0,5.0,93.0,51.0,5.0,738.0,250.0,21.0,10.0,...,843.0,269.0,28620.0,65.0,6.0,480.0,1.0,39.0,21.0,2011-2012
120,Manchester United,28.0,5.0,86.0,57.0,1.0,561.0,213.0,24.0,14.0,...,962.0,218.0,27264.0,65.0,5.0,506.0,0.0,38.0,28.0,2012-2013
140,Manchester City,27.0,6.0,102.0,72.0,1.0,673.0,238.0,19.0,10.0,...,892.0,283.0,28341.0,59.0,0.0,411.0,0.0,64.0,31.0,2013-2014
161,Manchester City,24.0,7.0,83.0,77.0,2.0,670.0,229.0,18.0,5.0,...,795.0,277.0,29652.0,42.0,1.0,546.0,1.0,52.0,31.0,2014-2015
182,Manchester City,19.0,10.0,71.0,61.0,0.0,615.0,210.0,15.0,13.0,...,866.0,257.0,28396.0,50.0,2.0,556.0,0.0,38.0,41.0,2015-2016
201,Tottenham Hotspur,26.0,4.0,86.0,62.0,0.0,669.0,257.0,22.0,10.0,...,761.0,273.0,28150.0,41.0,1.0,484.0,0.0,21.0,11.0,2016-2017
220,Manchester City,32.0,2.0,106.0,59.0,2.0,665.0,265.0,23.0,12.0,...,691.0,284.0,35130.0,63.0,4.0,406.0,2.0,21.0,15.0,2017-2018

In [60]:
lista2 = [df[df['season'] == season]['total_yel_card'].sort_values(ascending=False).index[0] for season in seasons]

In [93]:
df_yel = df.loc[lista2]

In [94]:
df_yel[df_yel['total_yel_card'] == 86.0]

,team,wins,losses,goals,total_yel_card,total_red_card,total_scoring_att,ontarget_scoring_att,hit_woodwork,att_hd_goal,...,total_cross,corner_taken,touches,big_chance_missed,clearance_off_line,dispossessed,penalty_save,total_high_claim,punches,season
33,Middlesbrough,10.0,16.0,43.0,86.0,2.0,499.0,152.0,13.0,9.0,...,960.0,219.0,21064.0,NaN,2.0,575.0,0.0,68.0,38.0,2007-2008